{% extends "layout.html" %}
{% block content %}
    {% csrf_token %}
  <div class="job_mgnt">
  <a href="create_profile"><p>Click here to create new profile</p></a>
  <table style="width:100%" id="profile_management">
    <caption>Profile management</caption>
  <tr>
    <th>Position</th>
    <th>Location</th>
    <th>Skill(s)</th>
    <th>Update</th>
    <th>Delete</th>
  </tr>
  {% for prof in profile_list %}
  <tr>
    <td><a href="{{ prof.position }}/{{ prof.location }}"</a>{{ prof.position }}</td>
    <td>{{ prof.location }}</td>
    <td>{{ prof.skills }}</td>
    <td>
        <a href="update_profile/{{ prof.id }}/"><p>Click here to Update</p></a>
    </td>
    <td>
        <button id="{{ prof.id }}" onClick="delete_profile(this.id)">Click here to Delete</button>
    </td>
  </tr>
  {% endfor %}
  <script type="text/javascript">
            function csrfSafeMethod(method) {
                // these HTTP methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }
            function delete_profile(clicked_id) {
                var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
                $.ajax({
                    url: "profile/" + clicked_id + "/",
                    type: 'delete',
                    beforeSend: function(xhr, settings) {
                        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", csrftoken);
                        }
                        return confirm("Are you sure?" + url + request);
                    },
                    success: function (data) {
                        if (data) {
                            window.location.reload();
                        }
                    },
                    error: function (xhr, ajaxOption, thrownError) {
                        alert(xhr.status + ": " + thrownError);
                    }
                });
            }
        </script>
</table>

<table style="width:100%" id="job_management">
  <caption>Viewed Jobs</caption>
<tr>
  <th>Company</th>
  <th>Title</th>
  <th>Applied</th>
  <th>Interview</th>
  <th>Status</th>
  <th>Note</th>
  <th>Action</th>
</tr>
  {% for job in job_list %}
  <tr class="{{ job.id }}">
    <th>{{ job.company }}</th>
    <th>{{ job.position }}</th>
    {% if job.applied %}
      <th>{{ job.applied }}</th>
    {% else %}
    <th>
      <input type="date" name="apply_date" id="{{ job.id }}apply">
    </th>
    {% endif %}
    {% if job.interview %}
      <th>{{ job.interview }}</th>
    {% else %}
      <th>
        <input type="datetime-local" name="interview_time" id="{{ job.id }}interview">
      </th>
    {% endif %}
    {% if job.status %}
      <th>{{ job.status }}</th>
    {% else %}
      <th>
        <p><input type="checkbox" id="{{ job.id }}approved" data-name="Approved" style="margin-right: 10px">Aproved</p>
        <p><input type="checkbox" id="{{ job.id }}denied" data-name="Denied"  style="margin-right: 10px">Denied</p>
      </th>
    {% endif %}
    <th>
      <input type="text" id="{{ job.id }}text" name="job_status" value="{{ job.note }}">
    </th>
    <th>
      <button onclick="saveFunc({{ job.id }}, '{{ job.status }}', '{{ job.note }}', '{{ job.interview }}', '{{ job.applied }}')">Save</button>
      <button onclick="delFunc({{ job.id }})">Delete</button>
      <script>
          function csrfSafeMethod(method) {
                // these HTTP methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }

      function saveFunc(job_id, job_status, job_note, job_interview, job_applied) {
          const approved_id = job_id + "approved";
          const denied_id = job_id + "denied";
          const text_id = job_id + "text";
          const interview_id = job_id + "interview";
          const apply_id = job_id + "apply";
        data = {};
        var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
        {#console.log("1: <{{ job.status }}>");#}
        {#  console.log("2 <{{ job.interview }}>");#}
        {#  console.log("3 <{{ job.note }}>");#}
        {#  console.log("4 <{{ job.applied }}>");#}
        if (job_status === 'None') {
            console.log('job status is ' + job_status);
          if (document.getElementById(approved_id).checked) {
              console.log('set approved to status');
            data['status'] = 'Approved'
          } else if (document.getElementById(denied_id).checked) {
            data['status'] = 'Denied'
          }
        }
        let note = document.getElementById(text_id).value;
        if (note !== 'None')
            data['note'] = document.getElementById(text_id).value;
        if (job_interview === 'None') {
            let interview = document.getElementById(interview_id).value;
            console.log("interview is: " + interview);
            if (interview !== '') {
                data['interview'] = document.getElementById(interview_id).value;
            }
        }
        if (job_applied === 'None') {
            let applied = document.getElementById(apply_id).value;
            if (applied !== 'None') {
                data['applied'] = document.getElementById(apply_id).value
            }
        }
        $.ajax({
          url: 'viewed_jobs/' + job_id + '/',
          type: 'put',
          dataType: 'json',
          data: JSON.stringify(data),
          contentType: 'application/json',
            beforeSend: function(xhr, settings) {
                        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", csrftoken);
                        }
                        return confirm("Are you sure?");
                    },
          success: function(data){
            if (data) {
              window.location.reload();
            }
          },
            error: function (xhr, ajaxOption, thrownError) {
                        alert(xhr.status + ": " + thrownError);
                    }
        });
      }
      function delFunc(job_id) {
          var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
        $.ajax({
          url: 'viewed_jobs/' + job_id + '/',
          type: 'delete',
            beforeSend: function(xhr, settings) {
                        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", csrftoken);
                        }
                        return confirm("Are you sure?");
                    },
          success: function(data){
            if (data) {
              location.reload();
            }
          }
        });
      }
      </script>
    </th>
  </tr>
  {% endfor %}

</table>
  <script>
          function csrfSafeMethod(method) {
                // these HTTP methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }

      function saveFunc(job_id, job_status, job_note, job_interview, job_applied) {
          const approved_id = job_id + "approved";
          const denied_id = job_id + "denied";
          const text_id = job_id + "text";
          const interview_id = job_id + "interview";
          const apply_id = job_id + "apply";
        data = {};
        var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
        {#console.log("1: <{{ job.status }}>");#}
        {#  console.log("2 <{{ job.interview }}>");#}
        {#  console.log("3 <{{ job.note }}>");#}
        {#  console.log("4 <{{ job.applied }}>");#}
        if (job_status === 'None') {
            console.log('job status is ' + job_status);
          if (document.getElementById(approved_id).checked) {
              console.log('set approved to status');
            data['status'] = 'Approved'
          } else if (document.getElementById(denied_id).checked) {
            data['status'] = 'Denied'
          }
        }
        let note = document.getElementById(text_id).value;
        if (note !== 'None')
            data['note'] = document.getElementById(text_id).value;
        if (job_interview === 'None') {
            let interview = document.getElementById(interview_id).value;
            console.log("interview is: " + interview);
            if (interview !== '') {
                data['interview'] = document.getElementById(interview_id).value;
            }
        }
        if (job_applied === 'None') {
            let applied = document.getElementById(apply_id).value;
            if (applied !== '') {
                data['applied'] = document.getElementById(apply_id).value
            }
        }
        $.ajax({
          url: 'viewed_jobs/' + job_id + '/',
          type: 'put',
          dataType: 'json',
          data: JSON.stringify(data),
          contentType: 'application/json',
            beforeSend: function(xhr, settings) {
                        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", csrftoken);
                        }
                        return confirm("Are you sure?");
                    },
          success: function(data){
            if (data) {
              window.location.reload();
            }
          },
            error: function (xhr, ajaxOption, thrownError) {
                        alert(xhr.status + ": " + thrownError);
                    }
        });
      }
      function delFunc(job_id) {
          var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
        $.ajax({
          url: 'viewed_jobs/' + job_id + '/',
          type: 'delete',
            beforeSend: function(xhr, settings) {
                        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", csrftoken);
                        }
                        return confirm("Are you sure?");
                    },
          success: function(data){
            if (data) {
              location.reload();
            }
          }
        });
      }
      </script>
</div>

{% endblock content %}
